---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 1 Proposal";
---

<Layout title={pageTitle}>
<div class="index-main">

  <h1>Project 1 Proposal</h1>
 
  <ul>
    <li>Whatever the first topic chatgpt gives me</li>
    <li>Quote Book and Explaination</li>
    <li>Beers beers and more beers</li>
    <li></li>
    <li></li>
  </ul>


</div>
</Layout>

<style>



</style>
