---
import Layout from '../../layouts/Layout.astro';

export const pageTitle = "A. Project 2 - Interactive Article";
---

<Layout>

<h1>Project 2 - Interactive Article</h1>
<p>https://www.nhm.ac.uk/discover/what-is-a-jellyfish.html</p>



</Layout>