---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Final Project";

---

<Layout title={pageTitle}>
<div class="index-main">

  <h1>{pageTitle}</h1>
  <p>This is the live site, <a href="https://stucker-ryan.netlify.app/">My Portfolio</a>.</p>
  <p>I've stopped working on 100% parts so that I can focus on developing the page layouts.</p>
  <h2>Current Status</h2>
    <h3>Layouts</h3>
    <ul>
      <li>Landing Page: Layout all but the footer is complete.</li>
      <li>For all the rest the footer is missing.</li>
      <li>Project Page: Missing Gallery and Case Study section</li>
      <li>About Page: incomplete.</li>
      <li>Contact Page: incomplete.</li>
    </ul>
    <h3>Content</h3>
    <ul>
      <li>Landing Page: Hero/Carousel and Profile Photo</li>
      <li>Project Page: Details components needs completion; Gallery & Case Study: photos & text </li>
      <li>About Page: All content, and Indeation needed.</li>
      <li>Contact Page: All content, and Indeation needed.</li>
    </ul>

</div>

</Layout>

<style>
  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    color: var(--color-text);
    transition: color 0.5s ease;
  }
</style>
