---
const assignments: { url: string; pageTitle: string }[] = Object.values(
  import.meta.glob("/src/pages/assignments/*", {
    eager: true,
  })
);
---

<ul>
  {
    assignments.map((assignment) => {
      return (
        <li>
          <a href={assignment.url}>{assignment.pageTitle}</a>
        </li>
      );
    })
  }   
  <li><a href="https://quotebook-123.netlify.app" target="_blank">Quotebook</a></li>

</ul>
<style>
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;
  }
  li {
    margin: 0;
  }
  a {
    display: block;
  }
    a:hover {
    color: var(--color-bg);
    background-color: var(--color-text);

  }
</style>
