---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div class="index-main">
    <h1>Welcome!</h1>
    <p>This is my Design for the Web 2 site. Where you can find all I know and don't know about web design.</p>
   
    <section class="turtle_Minecraft">
      <h2> I like turtles:</h2>
      <img src="src/assets/mc_turtle.webp" width="150px"/>
    </section>
    <p>
    Here is the link to the site you are on now <a href="https://stucker-dw2.netlify.app" target="_blank">stucker-dw2.netlify.app</a>
    </p>
   </div> 
</Layout>

<style>
  .turtle_Minecraft{
    padding: 5%;
  }


</style>