---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import modTurtle from "@assets/mc_turtle.webp";
import Button from "@components/Button.astro";
---

<Layout title="Home">
  <div class="index-main">
    <h1>Welcome! </h1>
    <p>This is my Design for the Web 2 site. Where you can find all I know and don't know about web design.</p>
   
    <section class="turtle_Minecraft">
      <h2> I like turtles:</h2>
      <Image
        src={modTurtle}
        alt="Modded Minecraft Turtle"
        class="modded_turtle"
      />
    </section>
      <div class="weNeedMoreNavs">
        <Button link="https://gd.newpaltz.edu/stucker/" title="Thesis Page"/>
        <Button link="https://stucker-dw2.netlify.app" title="This Page '(°o°)'" />
        <Button/>
      </div>
   </div> 
</Layout>

<style>
  .turtle_Minecraft{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .modded_turtle{
    align-self: center;
    width= 150px;
  }

  .weNeedMoreNavs {
    display: flex;
    background-color: #230736;
    justify-content: flex-start;
    flex-grow: 0;
  }
</style>