---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import modTurtle from "@assets/mc_turtle.webp";
import Button from "@components/Button.astro";
import Accordion from "@components/Accordion.astro";
---

<Layout title="Home">
  <div class="index-main">
    <h1>Welcome! </h1>
    <p>This is my Design for the Web 2 site. Where you can find all I know and don't know about web design.</p>
   
    <section class="turtle_Minecraft">
      <h2> I like turtles:</h2>
      <Image
        src={modTurtle}
        alt="Modded Minecraft Turtle"
        class="modded_turtle"
      />
    </section>
      <div class="weNeedMoreNavs">
        <Button link="https://gd.newpaltz.edu/stucker/" title="Thesis Page"/>
        <Button link="https://stucker-dw2.netlify.app" title="This Page '(°o°)'" />
        <Button/>
      </div>
      <section class="accordion-play">
        <Accordion title="“The journey of a thousand miles begins with one step.”">
          <slot>
              <h4>Lao Tzu • 6th century BCE (traditional) • Taoist Philosophy</h4>
              <p>This ancient wisdom teaches the value of beginnings. The scale of our goals often intimidates us, and yet every monumental achievement starts with a single choice to move forward. Lao Tzu emphasizes harmony with the natural flow of things — progress is built one step at a time. The reflection here asks: what overwhelming challenge could I break down into its very first step, trusting that momentum will follow?</p>
          </slot>
        </Accordion>
      </section>
   </div> 
</Layout>

<style>
  .turtle_Minecraft{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .modded_turtle{
    align-self: center;
    width= 150px;
  }

  .weNeedMoreNavs {
    display: flex;
    justify-content: flex-start;
  }
</style>