---

---

<a class="home-btn" href="/">What Am I</a>

<style>
    .home-btn{
        display: inline-block;
        padding: 16px;
    }
      a:hover {
    color: var(--color-bg);
    background-color: var(--color-text);
    }

</style>