---
const {title="Button Off", link="https://www.curseforge.com/minecraft/mc-mods/computercraft"} = Astro.props;


---

<a class="home-btn" href={link} target="_blank" >{title}</a>

<style>
    .home-btn{
        display: inline-block;
        padding: 16px;
    }
      a:hover {
    color: var(--color-bg);
    background-color: var(--color-text);
    }

</style>